:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-light-gray: rgba(230, 227, 227, 1);
    --color-gray: rgba(121, 121, 121, 1);
    --color-black: rgba(0, 0, 0, 1);

    --color-primary: rgba(0, 100, 158, 1);
}